<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}

    <main class="main">
      <!-- HERO -->
      <div class="main__hero">
        <div class="main__hero__title__container">
          <h1 class="main__hero__title">Hovering</h1>
          <h2 class="main__hero__title__sub">Meditation For Those Who Don't Get Meditation</h2>
        </div>

        <div class="circle__container cr"><div class="circle cri"></div></div>
        <div class="circle__container"><div class="circle"></div></div>
        <div class="circle__container"><div class="circle"></div></div>
        <div class="circle__container"><div class="circle"></div></div>
      </div>
      <!-- HERO END -->

      <!-- SECTION -->
      <div class="main__section">
        <h2 class="main__section--title">
          What is Hovering?
        </h2>
        <div class="main__section--content">
          <p>Hovering is a meditation technique.</p>
        </div>

        <div class="circle__container"><div class="circle"></div></div>
      </div>
      <!-- SECTION END -->

      <!-- SECTION -->
      <div class="main__section">
        <h2 class="main__section--title">
          Why Hovering?
        </h2>

        <div class="main__section--content">
          <p>You know when something just clicks and it finally makes sense for the first time, and it just changes the way you think about things?</p>
          <p>That's ultimately what meditation aims to achieve.</p>
          <p>Once meditation finally made sense to me, it completely and utterly changed the way I think about life in ways I couldn't possibly describe.</p>
          <p>The problem is that this is rare. Most people meditate for a bit, it doesn't click, and then they put it off for years.</p>

          <p>Hovering aims to address that by providing an intuitive way to think about meditation, that isn't completely abstract.</p>

          <p>That anyone can relate to, especially those who have never taken the time to study meditation, awareness, mental health practices etc.</p>
          <p>Especially children and teenagers.</p>
        </div>

        <div class="main__table">
          <!-- HEADER -->
          <div class="main__table__header">
            <div class="main__table__header--text">
              Traditional Meditation
            </div>
            <div class="main__table__header--text">
              Hovering
            </div>
          </div>
          <!-- HEADER END -->

          <!-- ROW -->
          <div class="main__table__row">
            <div class="main__table__row--text">
              Abstract.
            </div>
            <div class="main__table__row--text">
              Concrete.
            </div>
          </div>
          <!-- ROW END -->

          <!-- ROW -->
          <div class="main__table__row">
            <div class="main__table__row--text">

            </div>
            <div class="main__table__row--text">

            </div>
          </div>
          <!-- ROW END -->
        </div>
      </div>
      <!-- SECTION END -->

      <!-- SECTION -->
      <div class="main__section">

      </div>
      <!-- SECTION END -->
    </main>

    {{ partial "header.html" . }}
  </body>
</html>

