<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <header class="hovering__header">
      <divc>

      </div>
    </header>

    <main class="hovering__main">
      <div class="hovering__main__hero">
        <div class="hovering__main__hero__title">
          <h1>Hovering</h1>
          <h2></h2>
        </div>

        <div class="hovering__circle__container cr"><div class="hovering__circle cri"></div></div>
        <div class="hovering__circle__container"><div class="hovering__circle"></div></div>
        <div class="hovering__circle__container"><div class="hovering__circle"></div></div>
        <div class="hovering__circle__container"><div class="hovering__circle"></div></div>
      </div>

      <div class="hovering__main__section">
        <h2 class="hovering__main__section--title">
          What is Hovering?
        </h2>
        <div class="hovering__main__section--content">
          <p>Hovering is a meditation technique.</p>
        </div>

        <div class="hovering__circle__container"><div class="hovering__circle"></div></div>
      </div>

      <div class="hovering__main__section">
        <h2 class="hovering__main__section--title">
          Why Hovering?
        </h2>

        <div class="hovering__main__section--content">
          <p>You know when something just clicks and it finally makes sense for the first time, and it just changes the way you think about things?</p>
          <p>That's ultimately what meditation aims to achieve.</p>
          <p>Once meditation finally made sense to me, it completely and utterly changed the way I think about life in ways I couldn't possibly describe.</p>
          <p>The problem is that this is rare. Most people meditate for a bit, it doesn't click, and then they put it off for years.</p>

          <p>Hovering aims to address that by providing an intuitive way to think about meditation, that isn't completely abstract.</p>

          <p>That anyone can relate to, especially those who have never taken the time to study meditation, awareness, mental health practices etc.</p>
          <p>Especially children and teenagers.</p>
        </div>

        <!-- ROW -->
        <div class="hovering__main__table">
          <div class="hovering__main__table__row">
            <div class="hovering__main__table__row--text">

            </div>
            <div class="hovering__main__table__row--text">

            </div>
          </div>

          <!-- ROW -->
          <div class="hovering__main__table__row">
            <div class="hovering__main__table__row--text">

            </div>
            <div class="hovering__main__table__row--text">

            </div>
          </div>

        </div>

      </div>

      <div class="hovering__main__section">

      </div>

    </main>

    <footer class="hovering__header">

    </footer>
  </body>
</html>

