<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>

    <main class="main">
    {{ partial "header.html" . }}

      <!-- HERO -->
      <div class="main__hero">
        <div class="main__hero__title__container">
          <h1 class="main__hero__title">Hovering</h1>
        </div>
        <h2 class="main__hero__title__sub">Meditation For Those Who Don't Get Meditation</h2>

        <div class="circle__container cr"><div class="circle cri"></div></div>
        <div class="circle__container cr2"><div class="circle cr2i"></div></div>
        <div class="circle__container cl"><div class="circle cli"></div></div>
        <div class="circle__container cl2"><div class="circle cl2i"></div></div>
        <div class="circle__container cl3"><div class="circle cl3i"></div></div>
        <div class="circle__container cl4"><div class="circle cl4i"></div></div>
      </div>
      <!-- HERO END -->

      <div class="main__hero__socials">
        <a href="https://reddit.com/r/hovering" class="main__hero__socials__button">
          <div class="main__hero__socials__button__logo"></div>
          <div class="main__hero__socials__button__text">Reddit</div>
        </a>
        <a href="/" class="main__hero__socials__button">
          <div class="main__hero__socials__button__logo"></div>
          <div class="main__hero__socials__button__text">Discord</div>
        </a>
        <a href="https://hovering.neverfapdeluxe.com/" class="main__hero__socials__button">
          <div class="main__hero__socials__button__logo"></div>
          <div class="main__hero__socials__button__text">App</div>
        </a>

        <div class="circle__container csocial"><div class="circle csociali"></div></div>
        <div class="circle__container csocial1"><div class="circle csocial1i"></div></div>
        <div class="circle__container csocial2"><div class="circle csocial2i"></div></div>
      </div>


      <!-- STRIP -->
      <!-- <div class="main__strip">
        <div class="main__strip__title">NeverFap Deluxe</div>
      </div> -->
      <!-- STRIP END -->

      <!-- SECTION -->
      <div class="main__section">
        <div class="main__section--title__container">
          <h2 class="main__section--title">
            What is Hovering?
            <div class="circle__container csection"><div class="circle csectioni"></div></div>
          </h2>     
        </div>
        <div class="main__section--content__container">
          <div class="main__section--content">
            <h3>Introduction</h3>
            <p>Hovering is a meditation technique.</p>
            <p>It has been designed to be simple to practice, easy to understand, as well as remain acessible to people of all ages. </p>
            <p>Unlike traditional meditation, hovering aims to be highly concrete as opposed to highly abstract, so you can have that 'ah-ha' moment of clarity a lot sooner, rather than later.</p>
            <p>Chances are that you may have meditated in the past and you may not have understood exactly what it was you did, let alone what the point of it all was.</p>
            <p>Well, hovering aims to bridge that gap.</p>

            <h3>What is Meditation?</h3>
            <p>Meditation is a type of practice which aims to help you achieve balance in life.</p>
            <p>Once you achieve consistent balance in your life, then you will have a platform in order to easily overcome things like anxiety, depression or addiction.</p>
            <p>Put simply, it's impossible to both engage in self-harm and remain balanced at the same time.</p>
            <p>Of course, if you're not sleeping consistently, eating healthily or engaging in active self-improvement, then no amount of meditation will help you achieve consistent balance.</p>
            <p>Meditation is simply a very powerful tool to help you get there.</p>
            <p>And as someone who used to have severe depression and who suffers from bipolar disorder, once you experience the clarity of balance for the first time in your life.</p>
            <p>It was fundamentally life-changing in ways I couldn't possibly describe.</p>
            <p>Meditation sparked that change.</p>

            <h3>How to Hover</h3>
            <p>You simply hover your cursor over the button.</p>
            <p id="contentText">And relax.</p>

            <div class="circle__container content__circle">
              <div id="hoverCircleExample" class="circle">
                <div id="hoverCircleText" class="circle__text">
                  hover
                </div>
              </div>
            </div>
            <p>Heh.</p>
            <p>There's actually quite a lot more that you need to do in order for it to be effective.</p>
            <p>For example, it's important that you leave your hand connected to your mouse/touchpad while you practice hovering, as well as observe the button as you do it.</p>
            <p>The process is covered more in-depth in the <a href="/how-to-hover" class="link">How to Hover</a> section.</p>

            <script>
              const hoverCircleExample = document.querySelector('#hoverCircleExample');
              const hoverCircleText = document.querySelector('#hoverCircleText');
              const contentText = document.querySelector('#contentText');

              hoverCircleExample.onmouseenter = function() {
                hoverCircleText.classList.add("hover__text__fade")
                contentText.classList.add("hover__text__unfade")
              }
              hoverCircleExample.onmouseleave = function() {
                hoverCircleText.classList.remove("hover__text__fade")
                contentText.classList.remove("hover__text__unfade")
              }
            </script>
          </div>
        </div>
      </div>
      <!-- SECTION END -->  

      <!-- SECTION -->
      <div class="main__section">
        <div class="main__section--title__container">
          <h2 class="main__section--title">
            Why Hovering?
            <div class="circle__container csection1"><div class="circle csection1i"></div></div>
          </h2>      
        </div>
        <div class="main__section--content__container">
          <div class="main__section--content">
            <h3>Why I created Hovering</h3>
            <p>My name is Julius Reade and I run <a href="https://neverfapdeluxe.com/" class="link">NeverFap Deluxe</a>, a website to help those suffering from porn addiction.</p>
            <p>The website maintains a strong focus on using awareness and meditation practices in order to help people develop control over their minds.</p>
            <p>While I believe these are still the best tools in order to help people overcome addiction, I’ve become aware of many of the limitations of existing approaches towards mental health.</p>
            <p>Especially for today’s generation of young people, as well as most adults I speak with as well.</p>
            <p>For example, a lot of the teenagers I speak to really struggle not only to understand this idea of meditation, but to do something as simple as keep their minds still for a period of time. Not only because it’s a skill which they’ve yet to develop, but also because it’s not how they’re being brought up in regards to their day-to-day.</p>
            <p>Instead, most teenagers have become stuck within this paradigm of constantly checking some sort of digital device,</p>


          </div>
        </div>
      </div>
      <!-- SECTION END -->

      <!-- SECTION -->
      <div class="main__section">
        <div class="main__section--title__container">
          <h2 class="main__section--title">
            Try Hovering
            <div class="circle__container csectionc"><div class="circle csectionci"></div></div>
          </h2>      
        </div>
    
        <div class="main__section--content__container">
          <div class="main__section--content">

          </div>
        </div>

        <div class="main__table">
          <!-- HEADER -->
          <div class="main__table__header">
            <div class="main__table__header--text">
              Hovering
            </div>
            <div class="main__table__header--text">
              Traditional Meditation
            </div>
          </div>
          <!-- HEADER END -->

          <!-- ROW -->
          <div class="main__table__row">
            <div class="main__table__row--text">
              Abstract.
            </div>
            <div class="main__table__row--text">
              Concrete.
            </div>
          </div>
          <!-- ROW END -->

          <!-- ROW -->
          <div class="main__table__row">
            <div class="main__table__row--text">

            </div>
            <div class="main__table__row--text">

            </div>
          </div>
          <!-- ROW END -->
        </div>
      </div>
      <!-- SECTION END -->

      <!-- SECTION -->
      <div class="main__section">

      </div>
      <!-- SECTION END -->
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>

