<!-- <footer class="footer">
  <a href="/" class="header__logo__wrapper">
    <h1 class="header__logo">NeverFap <span class="deluxe__font">Deluxe</span> <i class="em em-rainbow"></i></h1>
  </a>
  <div class="footer__designed">
    Made in Melbourne, Australia <3.
  </div>

  <ul class="footer__links">
    <a class="footer__link__wrapper" href="/privacy"><li class="footer__link">Privacy</li></a>
    <a class="footer__link__wrapper" href="/disclaimer"><li class="footer__link">Disclaimer</li></a>
    {{/*  <a class="footer__link__wrapper" href="/contact"><li class="footer__link">Contact</li></a>  */}}
  </ul>
</footer> -->

<footer class="footer">
  <div class="footer__text__thing">Hovering is a <a href="https://neverfapdeluxe.com/" class="link">NeverFap Deluxe</a> initiative.</div>
  <div class="footer__links">
    <a class="footer__link" href="https://neverfapdeluxe.com/privacy">Privacy</a>
    <a class="footer__link" href="https://neverfapdeluxe.com/contact">Contact</a>
  </div>
</footer>
