$cyan: #00ffee;
$magenta: rgba(255,46,182,1);

$white-text: #fdfdfd; // used as header for darkmode
$white-darkmode-text: #dcddde; // #dcddde #e7e7e7

$black-header-text: #181818;
$black-text: #2e2e2e; // #404242 #2e2e2e
$black-background: black; // #23272A

$black-darkmode-background: #23272A;

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
