.main {
  overflow: hidden;
  .main__hero {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // padding-bottom: 4rem;
    
    height: 580px;

    background: $white-text;
  }

  .main__hero__title__container {
    position: absolute;
    top: 3.1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
    .main__hero__title {
      margin: 0;
      cursor: default;
      background: $white-text;
      padding: 1.2rem;
      font-size: 4rem;

      line-height: 16rem;
      height: 16rem;
      width: 16rem;

      border-radius: 16rem;

      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
    }
  }
  .main__hero__title__sub {
    cursor: default;

    position: absolute;
    top: 26rem;
    border: 1px solid white;
    padding: 1.6rem;
    background: $black-darkmode-background;
    color: white;
    z-index: 10;
  }
}

.main__section--text-white {
  color: white;
  transition: 1s;
}

.main__section--black {
  background: $black-darkmode-background!important;
  transition: 1s;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 1s;
  // margin-top: 4rem;
  // margin-bottom: 4rem;

  .main__section--title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 4px solid black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 3;
    box-shadow: 0 14px 56px 0 rgba(0, 0, 0, 0.2), 0 12px 29px 0 rgba(0, 0, 0, 0.01);

    overflow: hidden;
  }

  .main__section--title {
    background: white;
    position: relative;
    box-shadow: -5px 5px 0px 0px black;

    font-size: 2.4rem;
    width: 400px;
    padding: 1rem;
    text-align: center;

    border: 10px solid;
    border-image-source: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%);
    border-image-slice: 1;
    transition: .3s;
    cursor: default;
  }

  .main__section--title:hover {
    box-shadow: -9px 9px 0px 0px black;
  }

  .main__section--content__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background: white;

    padding-top: 4rem;
    padding-bottom: 4rem;
    transition: 1s;
    .main__section--content {
      width: 600px;

      margin-left: 1rem;
      margin-right: 1rem;
      transition: 1s;

      p {
        // font-family: 'Lato', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2rem;
        transition: 1s;
      }
      h3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 900;
        line-height: 2.1rem;
        // text-decoration: underline;
      }

      .content__circle {
        box-shadow: none;
        padding-top: 3rem;
        padding-bottom: 4rem;

        position: relative!important;

        .circle {
          text-align: center;
          line-height: 300px;
          width: 300px;
          height: 300px;  
          font-size: 2rem;
        }
      }

      .emphasis {
        border-bottom: 1px solid black;
      }
    }
  }
}

.main__strip {
  border-top: 4px solid black;
  border-bottom: 4px solid black;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;

  .main__strip__title {

  }
  .main__strip__text {

  }
}

.main__hero__socials {
  position: relative;
  
  
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 4rem;
  z-index: 30;
  
  .main__hero__socials__button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -5px 5px 0px 0px black;
    background: white;
    border: 2px solid #000;
    width: 8rem;
    height: 3rem;
    z-index: 11;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin-right: 2rem;

    transition: 0.3s;
    cursor: pointer;

    .main__hero__socials__button__logo {
      padding-right: 0.5rem;
    }
    .discord__logo {
      position: relative;
      top: 0.05rem;
      width: 36px;
      height: 36px;
    }
    .reddit__logo {
      width: 30px;
      height: 30px;
    }
    .hover__logo {
      width: 36px;
      height: 36px;
    }

    .main__hero__socials__button__text {
      color: $black-darkmode-background;
      // font-weight: 400;
    }  
  }

  .main__hero__socials__button:hover {
    box-shadow: -8px 8px 0px 0px cyan;
  }

  .discord__button {

  }

  .try__hovering__button {

  }
}

.main__table {
  .main__table__header {
    display: flex;
    .main__table__header--text {

    }
  }
  .main__table__row {
    display: flex;
    .main__table__row--text {

    }
  }
}

@media screen and (min-width: 420px) {
}

@media screen and (min-width: 768px) {
  .main__hero__socials {
    padding-bottom: 22rem;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}


