@import "_global.scss";
@import "_main.scss";

// // templates
@import "_header.scss";
@import "_footer.scss";

// // pages
// @import "_homepage.scss";
// @import "_courses.scss";
// @import "_single.scss";
// @import "_page.scss";

// // components
// @import "_posts.scss";
// @import "_five_principles.scss";
// @import "_button.scss";

// // miscellaneous
// @import "_javascript.scss";
// @import "_form.scss";
// @import "_shortcodes.scss";

.main {
  .main__hero {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background: white;
  }

  .main__hero__title__container {
    .main__hero__title {
      font-size:

      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
    }
    .main__hero__title__sub {

    }
  }

  .cr {
    .cri {
      width: 500px;
      height: 500px;
    }
  }

  .cl {
    .cli {
      width: 200px;
      height: 200px;
    }
  }
}

.main__section {
  .main__section--title {
    border: 10px solid;
    border-image-source: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%);
    border-image-slice: 1;
  }

  .main__section--content {
    p {

    }
  }
}

.circle__container {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;

  .circle {
    opacity: 1;
    transition: .2s;

    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
    color: white;

    border-radius: 50%;
  }
}

.main__table {
  .main__table__header {
    .main__table__header--text {

    }
  }
  .main__table__row {
    .main__table__row--text {

    }
  }
}



