@import "_global.scss";
@import "_main.scss";

// templates
@import "_header.scss";
@import "_footer.scss";

// main
@import "_hovering.scss";
@import "_circle.scss";

// // pages
// @import "_homepage.scss";
// @import "_courses.scss";
@import "_single.scss";
// @import "_page.scss";

// // components
// @import "_posts.scss";
// @import "_five_principles.scss";
// @import "_button.scss";

// // miscellaneous
// @import "_javascript.scss";
// @import "_form.scss";
// @import "_shortcodes.scss";

.baseof {
  .header {
    margin-bottom: 4rem!important;
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.1rem;
    // text-decoration: underline;
  }
}

ul {
  border-top: 1px solid cyan;
  border-bottom: 1px solid cyan;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.6rem;

  li {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
  }
}