{{ define "main" }}
  <div class="single__wrapper">   
    <h2 class="single__title">{{ .Title }} <img src="/images/logo.png" class="logo__square" alt=""/><a href="https://neverfapdeluxe.com/contact" class="link contact__form__title-thing" style="margin-left: 1rem;"><p style="display: inline-block;">#contact form</p></a></h2>
    <div class="single__content" style="margin-bottom: 0;">

      <p>Welcome to NeverFap Deluxe.</p>
      <p>I decided to create this website in 2019 to help people overcome porn addiction.</p>
      <p>Not only have I personally overcome porn addiction, to a point that I literally do not think about porn nor struggle with it in any way.</p>
      <p>I want to help you do the same too.</p>
    </div>
  </div>
{{ end }}